<!DOCTYPE html>
<html>
<head>
  <title>My Scrivito Extensions</title>

  <link rel="preconnect" href="https://api.scrivito.com">
  <link rel="preconnect" href="https://api.scrivito.com" crossorigin>

  <link rel="stylesheet" href="/scrivito/scrivito.css"/>

  <!-- Insert your css here -->
  <!-- <link rel="stylesheet" href="application.css"> -->
</head>
<body>
  <script src="https://unpkg.com/jquery@3/dist/jquery.js"></script>
  <script src="https://unpkg.com/react@15.0.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.0.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/prop-types@15.6.0/prop-types.js"></script>

  <script src="/scrivito/scrivito_sdk.js"></script>
  <script src="/assets/index.js"></script>
</body>
</html>
