<!DOCTYPE html>
<html>
<head>
  <title>My Scrivito Extensions</title>

  <link rel="preconnect" href="https://api.scrivito.com">
  <link rel="preconnect" href="https://api.scrivito.com" crossorigin>

  <link rel="stylesheet" href="/scrivito/scrivito.css"/>

  <!-- Insert your css here -->
  <!-- <link rel="stylesheet" href="application.css"> -->
</head>
<body>
  <script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/prop-types@15.6.0/prop-types.js"></script>

  <script src="/scrivito/scrivito_sdk.js"></script>
  <script src="/assets/index.js"></script>
</body>
</html>
